<div id="mainContent" [ngClass]="{'loading' : !dataIsReady}">
  <mat-tab-group  #tabs mat-stretch-tabs [ngClass]="{'hidden' : !dataIsReady}" [selectedIndex]="0">
    <mat-tab label="Grille aléatoire"> <app-random-grid></app-random-grid> </mat-tab>
    <mat-tab label="Grille parfaite"> <app-perfect-grid></app-perfect-grid> </mat-tab>
    <mat-tab label="Résultats"> <app-results-grid></app-results-grid> </mat-tab>
  </mat-tab-group>


  <div class="wrapper" *ngIf="!dataIsReady">
    <div *ngIf="!dataIsReady" id="waiting">
      <h1>Récupération des données</h1>
    </div>
    <div class="inner">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>