<div id="content">
    <h1>La grille parfaite</h1>

    <div class="grid">
        <div class="result">
            <span>{{orderedNumbers.length === 0 ? '' : orderedNumbers[0][0]}}</span>
            <span>{{orderedNumbers.length === 0 ? '' : orderedNumbers[1][0]}}</span>
            <span>{{orderedNumbers.length === 0 ? '' : orderedNumbers[2][0]}}</span>
            <span>{{orderedNumbers.length === 0 ? '' : orderedNumbers[3][0]}}</span>
            <span>{{orderedNumbers.length === 0 ? '' : orderedNumbers[4][0]}}</span>


            <span class="chance">{{orderedChances.length === 0 ? '' : orderedChances[0][0]}}</span>
        </div>
    </div>
</div>