#content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    h1 {
        margin-top: 2em;
        color: #E0FBFC;
        text-align: center;
        margin-bottom: 2em;
    }

    #grids {
        display: flex;
        flex-direction: column;
        .grid {
            margin-bottom: 1em;
            text-align: center;
            .date {
                color: #EE6C4D;
            }
            .result {
                display: flex;
                justify-content: center;
                margin-top: 1em;
                span {
                    display: flex;
                    justify-content: center;
                    margin-right: 1em;
                    border: 1px solid #293241;
                    width: 3em;
                    height: 3em;
                    align-items: center;
                    border-radius: 50%;
                }
                .chance {
                    color: #E0FBFC;
                }
            }
        }
    }

}